/* Style Info on Map */
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

 /* Remove Gridline Behavior Of Leaflet */
.leaflet-container img.leaflet-tile {
    mix-blend-mode: normal;
}

/* Home Page Image Zoom */
.image-hover-zoom {
    transition: transform 0.3s ease;
    transform: scale(1);
}

.image-hover-zoom:hover {
    transform: scale(1.1);
}

/* Edit Dash Stock Loading */
._dash-loading {
  margin: auto;
  color: transparent;
  width: 0;
  height: 0;
  text-align: center;
}

._dash-loading::after {
  content: '';
  display: inline-block;
  width: 2rem;
  height: 2rem;
  color: "#336666";
  vertical-align: text-bottom;
  border: 0.25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border 0.75s linear infinite;
  animation: spinner-border 0.75s linear infinite;
  margin-top: 2rem;
}


/* Leaflet Color Bar */
.leaflet-control-colorbar {
    display: flex;
    flex-direction: row-reverse; /* Reverse order to move numbers to the left */
    align-items: center;
    gap: 5px; /* Adds spacing between the colorbar and labels */
}

.leaflet-control-colorbar span {
    text-align: right; /* Align numbers to the right for proper positioning */
    margin-right: 5px;
}