/* Style Info on Map */
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

 /* Remove Gridline Behavior Of Leaflet */
.leaflet-container img.leaflet-tile {
    mix-blend-mode: normal;
}

/* Home Page Image Zoom */
.image-hover-zoom {
    transition: transform 0.3s ease;  /* Smooth transition effect */
    transform: scale(1);  /* Default scale */
}

.image-hover-zoom:hover {
    transform: scale(1.1);  /* Zoom in when hovered */
}
